.body-class {
	text-align: center; 
	background-color: white;	
}

.canvas-class, .masterSection {
	cursor: pointer;	
	border: 2px #ccc solid;
	text-shadow: 3px 1px 1px #000;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 2px 1px 15px #000;
	-moz-box-shadow: 2px 1px 15px #000;
	box-shadow: 2px 1px 15px #000;
}

.masterSection {
	width: 400px;
	margin: 0px auto 0px auto;
	background-color: black;
	padding: 10px;
}

.gameSection {
	float: left;	
}

.gameControlsSection {	
}

.btGame {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom-color: #000000;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	width: 100px;
	height: 38px;
	background-color: #FFFFFF;
	margin: 10px;
	float: center;
}

.btGame:hover {
	color: #FFFFFF;
	background-color: #000000;
}
