.body-class {
	text-align: center; 
	background-color: black;	
}

.canvas-class {
	cursor: pointer;
}

.masterSection {
	width: 400px;
	margin: 0px auto 0px auto
}

.gameSection {
	float: left;	
}

.gameControlsSection {	
}

.btGame {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	width: 100px;
	height: 38px;
	background-color: #737373;
	margin: 10px;
	float: center;
}

.btGame:hover {
	color: #ffa800;
}